<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
var 
</script>
</head>
<body>
	<main class="container">
		<div class="row my-3">
			<h4>약국 조회하기</h4>
			<div class="col-sm">
				<form action="/pharmacy/pharmacyResultUrl" method="get">
					<div class="my-3">
						<label for="q0" class="form-label">주소(시도) : </label> <input
							type="text" class="form-control" id="q0" name="q0">
					</div>
					<div class="my-3">
						<label for="q1" class="form-label">주소(시군구) : </label> <input
							type="text" class="form-control" id="q1" name="q1">
					</div>
					<div class="my-3">
						<label for="qT" class="form-label">요일 : </label>
						<select class="form-control" id="qT" name="qT">
							<option selected>선택해주세요</option>
							<option value="1">월요일</option>
							<option value="2">화요일</option>
							<option value="3">수요일</option>
							<option value="4">목요일</option>
							<option value="5">금요일</option>
							<option value="6">토요일</option>
							<option value="7">일요일</option>
							<option value="8">공휴일</option>	
						</select>
					</div>
					<div class="my-3">
						<label for="qN" class="form-label">약국 이름 : </label> <input
							type="text" class="form-control" id="qN" name="qN">
					</div>
					<button type="submit" class = "btn btn-outline-primary float-end">검색</button>
				</form>
			</div>
		</div>
	</main>
</body>
</html>