<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판 글 목록 조회</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<div class="container">
		<header th:include="layout/header :: header"
			class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"></header>

		<main>
			<div class="row">
				<div class="col-sm">
					<table class="table table-striped table-hover">
						<colgroup>
							<col width="8%" />
							<col width="48%" />
							<col width="16%" />
							<col width="20%" />
							<col width="8%" />
						</colgroup>
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>글쓴이</th>
								<th>날짜</th>
								<th>조회수</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${#lists.size(boardList)} > 0" th:each="list : ${boardList}">
								<td th:text="${list.idx}"></td>
								<td><a href="/boardList/" th:attrappend="href=${list.idx}"
									th:text="${list.title}" class="text-decoration-none"></a></td>
								<td th:text="${list.updatorId}"></td>
								<td th:text="${list.createdDt}"></td>
								<td th:text="${list.hitCnt}"></td>
							</tr>
							<tr th:unless="${#lists.size(boardList)} > 0">
								<td colspan="5">내용이 없습니다</td>
						</tbody>
					</table>

					<div class="my-3 clearfix">
						<a href="/boardList/write" class="btn float-end"><img
							class="btn-img" src="btn_write.gif"></a>
					</div>

				</div>
			</div>
		</main>

		<div class="container">
			<footer th:include="layout/footer :: footer"
				class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
				
			</footer>
		</div>
	</div>
</body>
</html>