<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: head">
<title>스프링부트를 이용한 게시판</title>
</head>
<body>
	<header th:include="layout/header :: header"
		class="container-fluid p-0"> </header>

	<main class="container my-5">
		<div class="row">
			<div class="col-sm mx-auto"></div>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>이름</th>
						<th>전화번호</th>
						<th>이메일</th>
						<th>관심분야</th>
						<th>주소</th>
						<th>성별</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${#lists.size(userList)} > 0"
						th:each="item : ${userList}">
						<td th:text="${item.userSeq}"></td>
						<td><a href="/userDetail.do?userSeq="
							th:attrappend="href=${item.userSeq}" th:text="${item.userName}"
							class="text-decoration-none"></a></td>
						<td th:text="${item.userPhone}"></td>
						<td th:text="${item.userEmail}"></td>
						<td th:text="${item.userInt}"></td>
						<td th:text="${item.userAddr}"></td>
						<td th:text="${item.userGender}"></td>
					</tr>
					<tr th:unless="${#lists.size(userList)} > 0">
						<td colspan="5">조회된 결과가 없습니다.</td>
				</tbody>
			</table>
			<div class="d-flex justify-content-end">
				<a href="/createUser.do" class="btn btn-primary">등록하기</a>
			</div>
		</div>
	</main>

	<footer th:replace="layout/footer :: footer"> </footer>

</body>
</html>