<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: head">
<title>스프링부트를 이용한 게시판</title>
</head>
<body>
	<header th:include="layout/header :: header"
		class="container-fluid p-0"> </header>

	<main class="container my-5">
		<div class="row">
			<div class="col-sm mx-auto"></div>
			<table class="table table-hover table-striped">
				<colgroup>
					<col width="10%" />
					<col width="46%" />
					<col width="16%" />
					<col width="20%" />
					<col width="8%" />
				</colgroup>
				<thead>
					<tr>
						<th class="text-end">글번호</th>
						<th class="text-center">제목</th>
						<th>글쓴이</th>
						<th>등록시간</th>
						<th>조회수</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${#lists.size(board.getList())} > 0"
						th:each="item : ${board.getList()}">
						<td class="text-end" th:text="${item.idx}"></td>
						<td class="text-center"><a href="/board/openBoardDetail.do?idx="
							th:attrappend="href=${item.idx}" th:text="${item.title}"
							class="text-decoration-none"></a></td>
						<td th:text="${item.creatorId}"></td>
						<td th:text="${item.createdDate}"></td>
						<td th:text="${item.hitCnt}"></td>
					</tr>
					<tr th:unless="${#lists.size(board.getList())} > 0">
						<td colspan="5">조회된 결과가 없습니다.</td>
				</tbody>
			</table>
			<div>
				<ul class="pagination justify-content-center">
					<li class="page-item"
						th:classappend="${board.getPrePage() == 0} ? 'disabled'"><a
						class="page-link"
						th:href="@{/page/boardlist(pageNum=${board.getPrePage()})}">Prev</a></li>
					<li class="page-item"
						th:each="page : ${#numbers.sequence(board.getNavigateFirstPage(), board.getNavigateLastPage())}"
						th:classappend="${page == board.getPageNum()} ? 'active'"><a
						class="page-link" th:text="${page}"
						th:href="@{/page/boardlist(pageNum=${page})}"></a></li>
					<li class="page-item"
						th:classappend="${board.getNextPage() == 0} ? 'disabled'"><a
						class="page-link"
						th:href="@{/page/boardlist(pageNum=${board.getNextPage()})}">Next</a></li>
				</ul>
			</div>
			<div class="d-flex justify-content-end">
				<a href="/board/writeBoard.do" class="btn btn-primary">글쓰기</a>
			</div>
		</div>
	</main>

	<footer th:replace="layout/footer :: footer"> </footer>

</body>
</html>