<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/head :: head">

</head>
<body>
	<header th:include="layout/header :: header"
		class="container-fluid p-0"> </header>
	<main class="container my-5">
		<div class="row">
			<div class="col-sm mx-auto">
				<form action="/insertAddress.do" th:action="@{/insertAddress.do}"
					method="post">
					<div class="my-3">
						<label for="userId" class="form-label">ID : </label> <input
							type="text" class="form-control" id="userId" name="userId"
							placeholder="ID를 입력하세요">
					</div>
					<div class="my-3">
						<label for="userPw" class="form-label">비밀번호 : </label> <input
							type="password" class="form-control" id="userPw" name="userPw"
							placeholder="비밀번호를 입력하세요">
					</div>
					<div class="my-3">
						<label for="userName" class="form-label">이름 : </label> <input
							type="text" class="form-control" id="userName" name="userName"
							placeholder="이름을 입력하세요">
					</div>
					<div class="my-3">
						<label for="userEmail" class="form-label">이메일 : </label> <input
							type="email" class="form-control" id="userEmail" name="userEmail"
							placeholder="@"></input>
					</div>
					<div class="my-3">
						<label for="userPhone" class="form-label">전화번호 : </label> <input
							type="text" class="form-control" id="userPhone" name="userPhone"
							placeholder="-는 제와하고 입력해주세요."></input>
					</div>
					<div class="my-3">
						<label for="userAddr" class="form-label">주소 : </label> <input
							type="text" class="form-control" id="userAddr" name="userAddr"
							placeholder="주소를 입력해주세요."></input>
					</div>
					<div class="my-3">
						<label for="user-gender" class="form-label">성별 : </label>
						<div id="user-gender">
							<div class="form-check form-check-inline">
								<input type="radio" class="form-check-input" id="user-gender-m" name="userGender" value="M" checked>
								<label for="user-gender-m" class="form-check-label">남성</label>
							</div>
							<div class="form-check form-check-inline">
								<input type="radio" class="form-check-input" id="user-gender-f" name="userGender" value="F">
								<label for="user-gender-f" class="form-check-label">여성</label>
							</div>
						</div>
					</div>
					<div class="my-3 clearFix">
						<button type="button" class="btn btn-secondary float-start"
							id="btn-list">목록으로</button>
						<button type="submit" class="btn btn-primary float-end">등록</button>
						<button type="reset" class="btn btn-warning float-end me-3"
							id="btn-cancel">취소</button>
					</div>
				</form>
			</div>
		</div>
	</main>
	<footer th:replace="layout/footer :: footer"> </footer>
	<script>
		window.addEventListener("DOMContentLoaded", function() {
			var btnList = document.querySelector("#btn-list");
			var btnCancel = document.querySelector("#btn-cancel");

			btnList.addEventListener("click", function() {
				history.back();
			});
			btnCancel.addEventListener("click", function() {
				history.back();
			});

		});
	</script>
</body>
</html>