<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

	<main class="container">
		<div class="row">
			<div class="col-sm-4 mx-auto my-5 rounded p-4">
				<form action="/blog/loginCheck" method="POST">
					<h2 class="text-center">Login</h2>
					<div class="form-floating my-3">
						<input type="text" class="form-control" id="user-id" name="userId"
							placeholder="아이디를 입력해주세요"> <label for="user-id">USER
							ID</label>
					</div>
					<div class="form-floating my-3">
						<input type="password" class="form-control" id="user-pw"
							name="userPw" placeholder="비밀번호를 입력해주세요"> <label
							for="user-pw">USER PASSWORD</label>
					</div>
					<div class="my-3 row clearfix">
						<a href="/blog/main" class="btn btn-primary col-5 mx-3 float-end">메인
							화면</a>
						<button type="submit" class="btn btn-primary col-5 float-end">Login</button>
					</div>
				</form>
			</div>
		</div>
	</main>
</body>
</html>