<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원정보 상세보기</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<script>
	$(document).ready(function() {
		var seq = $("#seq").val();

		$("#btn-list").on("click", function() {
			location.href = "/userList";
		});

		/* 		$("#btn-edit").on("click", function() {
		 $("#method").val("PUT");
		 var frm = $("#frm")[0];
		 frm.action = "/userList/" + seq;
		 frm.submit();
		 }); */

		$("#btn-delete").on("click", function() {
			$("#method").val("DELETE");
			var frm = $("#frm")[0];
			frm.action = "/userList/" + seq;
			frm.submit();
		});
	});
</script>
<script>
	$(document).ready(function() {
		var seq = $("#seq").val();
		$("#btn-edit").on("click", function() {
			 $("#method").val("PUT");
			 var frm = $("#frm")[0];
			 frm.action = "/userList/" + seq;
			var data = {
				userId : $("#userId").val(),
				userPw : $("#userPw").val(),
				userName : $("#userName").val(),
				userEmail : $("#userEmail").val(),
				level : $("#level").val()
			};

			$.ajax({
				type : "PUT",
				url : "/api/userList/" + seq,
				data : JSON.stringify(data),
				contentType : "application/json; charset=utf-8",
				dataType : "json",
				success : function(data) {
					alert("회원수정이 완료되었습니다.");
					location.href = "/userList";
					console.log(data.status);
				},
				error : function() {
					alert("ajax 통신 실패");
				}
			});

		});
	});
</script>
<body>
	<div class="container">
		<header th:include="layout/header :: header"
			class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"></header>
		<main>
			
				<div class="row">
					<div class="col-sm-6">
						<label for="firstName" class="form-label">아이디</label> <input
							type="text" class="form-control" name="userId" id="userId"
							value="ID" placeholder="ID를 입력하세요" th:value="${quizUser.userId}">
					</div>
					<div class="col-sm-6">
						<label for="userPw" class="form-label">비밀번호</label> <input
							type="password" class="form-control bg-white" name="userPw"
							id="userPw">
					</div>
				</div>
				<div class="row my-3">
					<div class="col-sm-6">
						<label for="userName" class="form-label">이름</label> <input
							type="text" class="form-control" name="userName" value="이름"
							th:value="${quizUser.userName}" id="userName">
					</div>
					<div class="col-sm-6">
						<label for="userEmail" class="form-label">이메일</label> <input
							type="email" class="form-control bg-white" name="userEmail"
							id="userEmail" value="@" th:value="${quizUser.userEmail}">

					</div>
				</div>
				<div class="row my-3">
					<label for="level" class="form-label">접근 수준</label>
					<div class="col-sm input-group">
						<span class="input-group-text">Level : </span> <input type="text"
							class="form-control bg-white" name="level" value="0" id="level"
							th:value="${quizUser.level}">
					</div>
				</div>
				<div>
					<input type="hidden" id="seq" name="seq" value="1"
						th:value="${quizUser.seq}"> <input type="hidden"
						id="method" name="_method">
				</div>
				<div class="my-3 clearfix">
					<button type="button" id="btn-list"
						class="btn btn-secondary float-start">목록</button>
					<button type="button" id="btn-edit"
						class="btn btn-success float-end">수정</button>
					<button type="button" id="btn-delete"
						class="btn btn-danger float-end me-3">삭제</button>
				</div>
			
		</main>

		<div class="container">
			<footer th:include="layout/footer :: footer"
				class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			</footer>
		</div>
	</div>
</body>
</html>