<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header
		class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		<a href="/"
			class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
			<span class="fs-4">KDH QUIZ</span>
		</a>

		<ul class="nav nav-pills">
			<li class="nav-item"><a href="/boardList" class="nav-link">게시판 페이지</a></li>
			<li class="nav-item"><a href="/userList" class="nav-link">회원가입 페이지</a></li>
		</ul>
	</header>
</body>
</html>